body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9d8a6;
}

h1 {
  font-size: 48px;
  color: #005f73;
}

header {
  text-align: center;
  padding: 24px;
}

header h1 {
  margin: 24px 0;
}

header img {
  width: 300px;
}

main {
  background-color: #005f73;
  padding: 24px;
  width: 800px;
  margin: 24px auto;
  border-radius: 8px;
  color: #f4f3ee;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

a {
  text-decoration: none;
  color: #005f73;
  background-color: #f6f4d2;
  padding: 2px 6px;
  border-radius: 4px;
}

a:hover,
a:active {
  background-color: #f4f3ee;
}

footer {
  text-align: center;
  padding: 24px;
}

footer p {
  margin-top: 24px;
  color: #284b63;
}

footer a {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #ca6702;
  color: #f4f3ee;
}

footer a:hover {
  background-color: #ee9b00;
}

.extra-important {
  color: #f6f4d2;
  border-color: #e9d8a6;
}

.highlight {
  color: #e9d8a6;
}
