body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9d8a6;
}

h1 {
  font-size: 48px;
  color: #005f73;
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
}
